<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>{% block title %}Welcome!{% endblock %}</title>
  {% block stylesheets %}{% endblock %}
  <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% block body %}{% endblock %}

<form>
  <input type="file" name="file">
</form>

{% block javascripts %}{% endblock %}

<script type="text/javascript" src="{{ asset('assets/vendor.js', 'webpack') }}"></script>
<script type="text/javascript" src="{{ asset('assets/app.js', 'webpack') }}"></script>
</body>
</html>
